/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* Make <a> wrapping the article behave like a block element */
a.article-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* Optional: Add hover effect */
a.article-link article {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
    padding: 1rem;
    transition: background-color 0.2s, box-shadow 0.2s;
}

a.article-link footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

a.article-link:hover article {
    background-color: var(--pico-muted-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success {
    color: var(--pico-color-green-500);
}

#messages .message.error {
    color: var(--pico-color-red-500);
}